<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}
  <img src="/assets/logo.png" alt="..." class="small img-responsive center-block" />
  <div class="container">
    <div id="content" class="col-md-10 col-md-offset-1">
      <h1 class="text-center">NEXT WICHITALKS TBD</h1>
      <h3 id="words" class="text-center">
        A relaxed environment to share your ideas and passions with the community An eclectic and insightful series of lightning talks with a twist Twenty slides auto-progressing every fifteen seconds Attending is free - follow @wichitalks for details Hosted
        at The Labor Party in Old Town Wichita Speaking applications will open again soon!
      </h3>
      <h4 class="info">VOLUNTEER MEET THE JAN-29TH SPEAKERS! SPONSOR</h4>
    </div>
  </div>
  {% include footer.html %}
</body>

</html>
